body {
  color: #082B48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082B48;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.header-left {
  float: left;

}

.header-right {
  float: right;
}


.header-title {
  font-weight: bold;
  font-size: 24px;
}

.header-nav-item {
  float: left;
  margin-left: 50px;
}

.header-nav-item a {
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;
}

.top {
  background-image: url(../img/top.png);
  background-size: cover;
  padding: 80px;

}

.top-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.top-subtitle {
  font-size: 18px;
  text-align: center;
}

header {
  padding: 20px 0;

}

.section {
  padding: 60px 0;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.about-left {
  float: left;
  width: 48%;
}

.about-right {
  float: right;
  width: 48%;
}

.course {
  background-color: #81bdc2;
}

.course-wrapper {
  display: flex;
  justify-content: space-around;
}

.course-item {
  width: 30%;
}

.contact-message {
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"], input[type="text"] {
  width: 600px;
  border: 3px solid #d8d8d8;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 999px;
  margin-bottom: 20px;
}

.btn {
  padding: 20px 60px;
  display: inline-block;
  background-color: #082B48;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}

.btn:hover{
  opacity: 0.7;
  cursor: pointer;
}

.btn-register {
  background-color: #082B48;
  display: block;
  margin: auto;
}

footer {
  background-color: #082B48;
  color: #fff;
  padding: 20px 0;

}

.copyright{
  font-size: 12px;
  float: right;
}

@media only screen and (max-width: 767px; ) {
  .clear::after{
    content:none;
  }
  .header-left {
    float: none;
  }

  .header-title {
    text-align: center;
  }

  .header-right {
    float: none;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
  }

  .header-nav-item {
    float: none;
    margin: 0;

  }

  .top {
    padding: 120px 0;
  }

  .top-title {
    font-size: 32px;
  }

  .top-subtitle {
    font-size: 14px;
  }

  .section {
    padding: 80px 0;
  }

  .section-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }

.section p {
  font-size: 14px;
}

.about-left {
  float: none;
  width: 100%;
  margin-bottom: 20px;
}

.about-right{
  float: none;
  width: 100%;
}

.course-wrapper{
  flex-wrap: wrap;
}

.course-item{
  width: 100%;
  margin-bottom: 20px;
}

input[type="email"], input[type="text"] {
  width: 100%;
}

.copyright {
  font-size: 10px;
  float: none;
  text-align: center;
}
}

.header-nav-item {
 list-style: none;
 cursor: pointer;
}

.dropdown-menu {
  display: none;
}

.nav-right {
  float: right;
}

.dropdown-menu li {
display: inline-block;
}

.page_top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  float: right;
  }

.page_top a {
  background-color: #082B48;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
  }

.page_top a:hover {
  background-color: #666;
  text-decoration: none;
  }
  